.header{
    display: flex;
    justify-content:  space-between;
    border: 1px solid rgb(221, 217, 217);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.nav-items > ul > li {
    padding: 10px;
}

.card {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    margin-left: 10px;
}

.card > img {
    width: 100%;
    margin:10px;
}

.restraunt-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shimmer-card {
    background-color: grey;
    height: 100px;
    width:100px;
}